<ion-header-bar class="bar-positive">
        <button class="button button-clear" ui-sref="tab.events">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">What?</h1>
        <button class="button button-clear" ng-click="storeFriends()">
            Save
        </button>
</ion-header-bar>

<ion-view title="Friends" ng-init="loadFriends()">
    <ion-content>
        <ion-list>
            <a class="item item-avatar" ng-repeat="object in objects | orderBy : object.get('first_name') + object.get('last_name')">
                <img ng-src="https://graph.facebook.com/v2.2/{{object.get('Friend').get('facebookId')}}/picture??type=small">
                <span class="middle">{{friends.get('Friend').get('first_name')}} {{friends.get('Friend').get('last_name')}}</span>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
