<ion-header-bar class="bar-positive themeBackgroundColor">
    <button class="button button-clear" ui-sref="showEvent({objectId: editEvent.id})">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title">
    <i class="ion-search 2x"></i>
    <span translate="event_where">Where?</span>
            <ion-autocomplete 
                ng-model="query" 
                items-method="loadPlaces(query)"
                items-clicked-method="callbackMethod(callback)"
                placeholder="" 
                cancel-label="Cancel"
                template-url="views/searchPlaceTemplate.html"
                class="top"
                ></ion-autocomplete>
            
    </h1>
</ion-header-bar>

<ion-content ng-init="loadSuggestedPlaces()">

    <ion-list>
        
        <ion-item class="item-avatar item-square" ng-repeat="place in suggestedPlaces" ng-click="callbackMethod({item: place})">
            <img ng-src="{{ place.photos ? place.photos[0].getUrl({'maxWidth': 200, 'maxHeight': 100}) : '' }}" ng-show="place.photos" class="">
            <h2 class="{{place.opening_hours == undefined ? 'middle' : ''}}">
                {{place.name}}
            </h2>
            <p ng-hide="place.opening_hours == undefined"><label class="{{place.opening_hours.open_now ? 'balanced' : '' }}">{{place.opening_hours.open_now ? 'Open now' : 'Closed now'}}</label></p>
        </ion-item>
    </ion-list>

</ion-content>