<ion-header-bar class="bar-positive themeBackgroundColor">
    <button class="button button-clear" ng-click="back()">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <h1 class="title" translate="event_new">New event</h1>
</ion-header-bar>

<ion-content ng-init="loadThemes()" style="height: 100%;" scroll="false">
    <textarea type="text" placeholder="{{'event_what' | translate}}" 
              name="name" ng-model="editEvent.name" required autofocus 
              style="padding: 25px 0px 10px; width: 100%; resize: none; border: 1px solid #eee; text-align: center"></textarea>

    <div class="item item-divider clean themeBorderColor themeColor" translate="event_theme_choose">
        Choose your theme
    </div>
    <ion-scroll class="collectionList">
        <ion-item ng-click="storeName(theme)" class="" 
                  ng-repeat="theme in themes"
                  ng-show="([theme]|themeSearch:editEvent.name).length"
                  ng-style="{'width': item.width, 'height': item.height}">
            <img ng-src="{{'img/themes/'+theme.name+'.png'}}">
        </ion-item>
        <ion-item ng-click="storeName({name: '_'})" class="" 
                  ng-style="{'width': item.width, 'height': item.height}">
                  <span class="topHalf">{{editEvent.name}}</span>
        </ion-item>
    </ion-scroll>

</ion-content>