<ion-header-bar class="bar-positive">
        <h1 class="title">Events</h1>
        <a class="button button-clear" ui-sref="editEventName">
            New
        </a>
</ion-header-bar>

<ion-view title="Events">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list class="cards">
            <a class="card" ng-repeat="object in objects" item="item"
                      ng-click="showEvent(object.get('Event'))">
                <div class="header" style="background-color: {{object.get('Event').has('Theme') ? object.get('Event').get('Theme').get('backgroundColor') : 'transparent;'}}">
                    <img ng-src="{{object.get('Event').has('Theme') ? object.get('Event').get('Theme').get('icon').url() : ''}}" ng-show="object.get('Event').has('Theme')">
                    <div class="cover"></div>
                    <label ng-hide="object.name">
                        {{object.get('Event').get('name')}}
                    </label>
                </div>
                <div class="footer">
                    <table>
                        <tbody>
                            <tr>
                                <td ng-hide="{{object.get('Event').has('place_id')}}">
                                    <i class="ion-ios-location-outline"></i>
                                    <label>Not defined yet</label>
                                </td>
                                <td ng-show="{{object.get('Event').has('place_id')}}">
                                    <i class="ion-ios-location"></i>
                                    <label>Place xxx</label>
                                </td>
                                <td>
                                    <i class="ion-calendar"></i>
                                    <label>Tomorrow at 19:00</label>
                                </td>
                                <td>
                                    <i class="ion-android-sunny"></i>
                                    <label>Sunny 27ºC</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>

