<ion-header-bar class="bar-positive themeBackgroundColor">
        <button class="button button-clear" ui-sref="profile">
            <i class="ion-person"></i>
        </button>
        <h1 class="title"></h1>
        <a class="button button-clear" ui-sref="editEventName">
            <i class="ion-plus-round"></i>
        </a>
</ion-header-bar>


<ion-content has-bouncing="true">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <ion-list class="collectionList">
        <ion-item class="" ng-repeat="myEvent in myEvents"
                  ng-click="showEvent(myEvent)" nav-transition="ios"
                  ng-style="{'width': item.width, 'height': item.height}">
            <span ng-switch="myEvent.place_image_url == undefined">
                <div ng-switch-when="false" class="background" 
                     ng-style="{'background-image': 'url('+myEvent.place_image_url+')'}"></div>
                <img ng-switch-when="true" ng-src="{{'img/themes/'+myEvent.theme+'.png'}}">
            </span>
            <h2>{{myEvent.name}}</h2>
            <h3>{{myEvent.place_name}}</h3>
            <h4>{{myEvent.date | prettyDateFormat }}</h4>
        </ion-item>
    </ion-list>
</ion-content>
