<ion-pane class="has-dynamicHeader" ng-class="{'bar-header-slide-away': slideHeader}">


<div class="dynamicHeader">
    <button class="button button-clear left" ui-sref="events">
        <i class="icon ion-ios-arrow-back"></i>
    </button>
    <span ng-switch="isEdit" ng-hide="!isShowEditButton">
        <button ng-switch-when="false" class="button button-clear right" ng-click="startEdit()">
            <i class="ion-edit"></i>
        </button>
        <button ng-switch-when="true" class="button button-clear right" ng-click="endEdit()">
            DONE
        </button>
    </span>
</div>

<div class="background backgroundImage" 
     
     style="position: fixed"
     ng-style="{'background-image': 'url('+showEvent.place_image_url+')', 'width': item.width, 'height': item.height}"></div>

<div id="bottomWhiteBar"></div>

<ion-content style="height: 100%;" has-bouncing="false" header-shrink scroll-event-interval="5" class="cover" scroll-watch>


    <ion-list id="showEvent">
        <ion-refresher pulling-text="{{ 'refresh' | translate }}" on-refresh="doRefresh()"></ion-refresher>  
        <ion-item ng-style="{'height': item.height}">   
            <h1 ng-show="showEvent.name"
                ng-click="editName()"
                class="topHalf centered">
                {{showEvent.name}}
                <span ng-hide="!isEdit" class="rightIcon">
                    <i class="icon ion-edit edit"></i>
                </span>
            </h1>   
            <h2 ng-show="showEvent.place_name"
                class="bottomHalf centered">
                {{showEvent.place_name}}
            </h2>

            <button ng-show="isShowJoinButton" ng-click="joinEvent()" class="themeButton joinButton hidden" translate="event_newEvent_join">
                JOIN
            </button>

            <!-- Event Date and Weather  -->
            <div class="bottom">
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td class="cellSideTemplate" ng-click="editDate()">
                                <a href="javascript:void(0)">
                                    <i class="ion-calendar"></i>
                                    <span ng-switch="!showEvent.date" class="inline">
                                        <label ng-switch-when="true">
                                            Click to define date
                                        </label>
                                        <label ng-switch-when="false">
                                            {{ showEvent.date | prettyDateFormat }}
                                            <span id="dayLabel">{{showEvent.date | date: 'd'}}</span>
                                        </label>
                                    </span>
                                    <span ng-hide="!isEdit" class="inline">
                                        <i class="icon ion-edit edit"></i>
                                    </span>
                                </a>
                            </td>
                            <td class="cellSideTemplate right" ng-show="weather.code && !isEdit">
                                <label>{{weather.desc}}</label>
                                <label><small>{{weather.tempC}}ºC</small></label>
                                <img ng-src="{{weather.icon_url}}" ng-alt="weather.desc">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </ion-item>

        <!-- Participants -->
        <ion-item class="noPadding" ng-click="editParticipants()">
            <div class="leftTitle">
                {{showEvent.participants.length}}
                <span ng-switch="showEvent.participants.length == 1">
                    <span ng-switch-when="true" translate="event_goingFriend"></span>
                    <span ng-switch-when="false" translate="event_goingFriends"></span>
                </span>
                <a class="rightIcon" ng-hide="!isEdit">
                    <i class="icon ion-edit edit"></i>
                </a>
            </div>
            <ion-scroll direction="x" class="horizontalList">
                <a href="javascript:void(0)" class="item" ng-repeat="participant in showEvent.participants | orderBy : participant.first_name + participant.last_name">
                    <img ng-src="https://graph.facebook.com/v2.2/{{participant.facebookId}}/picture??type=small" class="circle">
                    <div class="title">
                        {{participant.first_name}} {{participant.last_name}}
                    </div>
                </a>
            </ion-scroll>
        </ion-item>

        <!-- Event Place  -->
        <ion-item class="noPadding" ng-click="editPlacePressed()">

            <a class="rightIcon" ng-hide="!isEdit">
                <i class="icon ion-edit edit"></i>
            </a>

            <div ng-hide="showEvent.place_id" class="cellSideTemplate" style="margin-top: 15px;">
                <i class="ion-ios-location-outline" style="left: 20px"></i>
                <label ng-switch="showEvent.place_name == undefined" style="padding-top: 15px;">
                    <span ng-switch-when="true" class="emptyMsg" translate="event_place_click_edit"></span>
                    <span ng-switch-when="false">{{showEvent.place_name}}</span>
                </label>
            </div>

            <div ng-show="showEvent.place_id" class="mapContainer">

                <table id="addressInfo" ng-show="showEvent.place_address">
                <tr>
                    <td class="info">
                        <p class="bold" translate="event_place_address">Address</p>
                        <p>{{ showEvent.place_address }}</p>
                    </td>
                </tr>
                </table>
                <div id="coverMap" class=""></div>
                <div id="map" class="" data-tap-disabled="true"></div>

            </div>
        </ion-item>

    </ion-list>

    <div date-picker="start" ng-show="true"></div>

</ion-content>  


</ion-pane>