<ion-header-bar class="bar-positive">
        <button class="button button-clear" ui-sref="tab.events">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">Event</h1>
</ion-header-bar>

<ion-content has-bouncing="true">
    <div>
        <ion-list>
            <div class="card" style="background-color: {{object.backgroundColor}}">
                <img ng-src="{{object.iconUrl}}" ng-hide="object.iconUrl == ''">
                <div class="cover"></div>
                <label ng-show="object.get('name')">
                    {{object.get('name')}}
                </label>
            </div>
            <!-- Event Date and Weather  -->
            <ion-item>
                <table>
                    <tbody>
                        <tr>
                            <td class="cellSideTemplate">
                                <a href="javascript:void(0)" ng-click="editDate()">
                                    <i class="ion-calendar"></i>
                                    <label>Click to define date</label>
                                </a>
                            </td>
                            <td class="cellSideTemplate" ng-show="object.has('date')">
                                <i class="ion-android-sunny"></i>
                                <label>Sunny</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ion-item>
            <!-- Event Place  -->
            <ion-item>
                <div class="cellSideTemplate">
                    <i class="ion-ios-location-outline"></i>
                    <label>Click to define location</label>
                </div>
            </ion-item>
        </ion-list>
        <div date-picker="start" ng-show="true"></div>
    </div>
</ion-content>