/* Empty. Add your own CSS if you like */

body {
	cursor: url('http://ionicframework.com/img/finger.png'), auto;
	background-color: #000;
}

body > * {
	max-width: 700px !important;
}

.themeBackgroundColor {
	background-color: rgb(18, 86, 136) !important;
	border: 0px !important;
	color: white;
}
.themeBorderColor {
	border-color: rgb(18, 86, 136) !important;
}
.themeColor, .themeColor > * {
	color: rgb(18, 86, 136) !important;
}
.themeButton {
	background-color: rgba(18, 86, 136, .7) !important;
	color: white !important;
	text-transform: uppercase;
	border: 0px !important;
	padding: 8px 10px;
}

.fillParent {
	min-width: 100%;
	height: 100%;
}

.item h1 {
	white-space: normal;
}

.item > .fillParent {
	margin: -16px;
}

.item.item-icon-left > img {
	height: 20px;
	top: auto;
	border-radius: 7px;
	left: 14px;
}

.item.ng-enter {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    opacity: 0;
}
.item.ng-enter-active {
    opacity: 1;
}

.item-divider.clean {
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	padding: 10px 15px;
	margin-bottom: 2px;
}

.emptyMsg {
	color: #aaa;
	padding: 10px 16px;
	font-size: 12px;
	font-style: italic;
}

/* Header Slide */

.dynamicHeader {
	position: fixed;
	z-index: 5000;
	top: 20px;
	left: 0px;
	right: 0px;
	border: 0px;
	background-color: transparent;
	z-index: 1;
	-webkit-transition: top 0.5s ease;
	-mz-transition: top 0.5s ease;
	-ms-transition: top 0.5s ease;
	transition: top 0.5s ease;

	font-size: 24px;
}
.dynamicHeader button.left {
	float: left;
	color: white !important;
}
.dynamicHeader button.right {
	float: right;
	color: white !important;
	-webkit-transition: none;
	transition: none;
}

.has-dynamicHeader .scroll {
	padding-top: 0px;
}
.bar-header-slide-away .dynamicHeader {
	top: -40px;
}
.bar-header-slide-away [scroll-watch] {
	top: 0px;
}

/* Google Maps */

#addressInfo {
	position: absolute;
	z-index: 4000;
	margin: 0px 30px;
	font-size: 12px;
	width: auto;
	right: 20px;
	top: 40px;
}
#addressInfo .info {
	background-color: #eee;
	color: #000 !important;
	padding: 3px;
	width: 100%;
}
#addressInfo .info > * {
	color: #000;
	font-size: 10px;
}
#addressInfo .title {
	width: 60px;
	background-color: #333;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px 10px;
	height: 100%;
}
#addressInfo p {
	line-height: 1.0;
	padding: 2px;
}

#map, #coverMap {
	width: 250px;
	height: 250px;
	margin: 20px auto 0px;
	display: inline-block;
	border: 2px solid;
	background-color: white;
}

#coverMap {
	position: absolute;
	z-index: 4000;
	background-color: transparent;
	left: 50%;
	margin-left: -150px;
	border: 0px;
}


@media (min-width: 600px) {
    #map, #coverMap {
        width: 300px;
        height: 300px;
        padding: 0px;
    }
}

.mapContainer {
	position: relative;
	text-align: center;
}

.mapContainer > .info {
	display: inline-block;
	position: absolute;
	z-index: 1;
	border-radius: 8px;
	top: 10px;
	right: 10px;
	bottom: 10px;
	width: 100px;
	background-color: rgba(255, 255, 255, .9);
	padding: 5px 7px;
	font-size: 8px;
	color: #666;
}

.mapContainer > .info > .title {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	margin-bottom: 2px;
}

.mapContainer > .info > p {
	font-size: inherit;
	white-space: normal;
	line-height: 1.3;
	margin-bottom: 5px;
}

.gmnoprint, .gm-style-cc {
	display: none;
}

/** Header **/

h1.title .top {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 100%;
	color: transparent;
}

.bar button > i, .dynamicHeader button > i {
	font-size: 26px;
}
.dynamicHeader button > .icon:before {
	font-size: 32px;
}

.button-clean {
	position: absolute;
	margin-left: -20px !important;
	z-index: 4000 !important;
	content: #bbb !important;
}

/**** List Styles  ***/

.item .middle {
	position: relative;
	top: 9px;
}

.item.noPadding {
	padding: 5px;
	min-height: 90px;
}

.item .leftTitle {
	font-weight: bold;
	font-size: 15px;
	margin: 5px 10px;
}

.item .buttonRight {
	font-size: 12px !important;
	color: #fff;
	position: absolute;
	top: 10px;
	right: 5px;
}
.item .buttonRight i, .item .buttonRight img{
	font-size: 11px !important;
}

table {
	width: 100%;
}

table td {
	vertical-align: middle;
}

table > tbody > tr > td.top {
	vertical-align: top;
} 

i {
	display: inline-block;
	margin: auto 3px;
}

a {
	color: #333;
	text-decoration: none;
}

.cellSideTemplate {
	position: relative;
	padding-left: 50px;
	height: 40px;
}
.cellSideTemplate i, .cellSideTemplate img {
	position: absolute;
	top: 0px;
	left: -5px;
	font-size: 40px !important;
}
.cellSideTemplate img {
	height: 40px;
}
.cellSideTemplate label, .cellSideTemplate .label {
	font-size: 11px;
	line-height: 1.2;
	display: block;
}

.cellSideTemplate.right {
	text-align: right;
	padding-left: 0px;
	padding-right: 50px;
}
.cellSideTemplate.right i, .cellSideTemplate.right img {
	left: auto;
	right: -5px;
}

#dayLabel {
	position: absolute;
	left: 6px;
	top: 17px;
	font-weight: bold;
	width: 20px;
	text-align: center;
	display: block;
}

.tabs input {
	width: 100%;
}

/**** Horizontal List Styles  ***/

.horizontalList {
	text-align: left;
	white-space: nowrap;
}

.horizontalList .item {
	display: inline-block;
	float: left;
	text-align: center;
	overflow: hidden;
	margin: 10px 5px 5px;
	width: 60px;
	border: 0px !important;
	padding: 0px;
}

.horizontalList .item > img {
	display: block;
	height: 50px;
	margin: 0px auto;
}

.horizontalList .item > .title {
	display: block;
	font-size: 9px;
	padding: 5px 0px;
	text-align: center;
	white-space: normal;
	line-height: 1.3;
}

/**** Collection List Styles  ***/

.collectionList {
	text-align: left;
	height: 100%;
	clear: both;
}

.collectionList .item {
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: left;
	text-align: center;
	width: 50%;
	border: 3px solid #fff;
	border-bottom-width: 0px;
	background-color: rgba(18, 86, 136, .5);
	/*background-color: rgb(179, 193, 204);*/
	padding: 0px;
	margin: 0px;
}
.collectionList .item * {
	color: white !important;
}

.collectionList .item .background {
	position: absolute;
	z-index: 0;
}

.collectionList .item button {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	font-size: 12px;
}

.backgroundImage {
	width: 100%;
	height: 100%;
	right: 0px;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	-webkit-filter: opacity(56%); 
    filter: opacity(56%); 
}

.blur {
    -webkit-filter: blur(1px); 
    -mozkit-filter: blur(1px); 
    -mskit-filter: blur(1px); 
    filter: blur(1px); 
}

.collectionList .item img {
	width: 80%;
	margin-top: 10%;
	opacity: .7;
}

.collectionList h1 {
	display: block;
	clear: both;
	width: 100%;
	margin-top: 0px;
	padding-top: 20px !important;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.collectionList .item h2 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	padding: 0px 5px;
	white-space: normal;
	line-height: 1.1;
}

.collectionList .item h3 {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	padding: 5px 5px;
	white-space: normal;
	line-height: 1.0;
	font-weight: normal;
}

/** Lists  **/

#showEvent, #showEvent .item {
	background-color: transparent;
	border-top: 0px;
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

#showEvent * {
	color: white;
}

#showEvent i {
	font-size: 30px;
}

#showEvent .joinButton {
	border-radius: 5px;
	width: 250px;
	font-style: 14px;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-left: -125px;
	padding: 15px;
}

.item-square {
	padding-left: 95px;
}

.item-square > img:first-child {
	border-radius: 0px;
	top: 0px;
	left: 0px;
	max-width: 80px;
	max-height: none;
	height: 100%;
}

.topHalf {
	position: absolute;
	bottom: 50%;
	left: 0px;
	right: 0px;
	white-space: normal;
}
.bottomHalf {
	position: absolute;
	top: 50%;
	left: 0px;
	right: 0px;
}

.bottom {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 5px 15px;
}

/**** Cards List Styles  ***/

.cards {
	padding: 0px 5px;
	text-align: center;
}

.cards .card {
	margin: 10px 5px;
	width: auto;
	border-radius: 5px;
	height: auto;
}

.card {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	background-color: #ddd;
	margin: 0px;
	padding: 0px;
	height: 100px;
}

.card .header {
	position: relative;
	height: 140px;
}

.card .footer {
	position: relative;
	clear: both;
	height: 60px;
	background-color: white;
}

.card .footer i, .card .footer img {
	font-size: 20px;
	height: 30px;
}

.card .header .titleWithBadge {
	margin-right: 50px;
	text-align: center;
}

.card .header .badge {
	float: right;
	margin: 10px 10px 0px 0px;
	border-radius: 5px;
	font-size: 12px;
}
.card .header .badge i {
	position: relative;
	top: 2px;
	font-size: 130%;
	margin-right: 5px;
}

.card .header .badge-stable {
	color: #888;
}

.card img {
	background-repeat: 10px auto;
	height: 70%;
	margin: 0px auto;
	display: block;
}

.cover {
	background-color: rgba(0, 10, 20, 0.4);
	color: white;
}

.cover > * {
	color: white !important;
}

.card label {
	position: absolute;
	left: 0px;
	bottom: 0px;
	z-index: 3000;
	font-size: 15px;
	color: white;
	width: 100%;
	padding: 20px 0px 10px;
	text-align: center;
}

.card textarea, .card input {
	resize: none;
	width: 100%;
	position: absolute;
	z-index: 4000;
	bottom: 0px;
	left: 0px;
	padding: 5px;
	font-size: 18px;
	color: white;
	line-height: 0.7;
	background-color: transparent;
	text-align: center;
}

.card .footer > table {
	width: 100%;
	height: 100%;
}

.card .footer > table > tbody > tr > td {
	border-right: 1px solid #eee;
	text-align: center;
}

.card .footer > table > tbody > tr > td:last-child {
	border-right: 0px;
}


/*** Form styles  ***/

.button-bottom {
	position: absolute;
	z-index: 4000;
	bottom: 10px;
	left: 50%;
	margin-left: -25px;
	width: 90px;
	height: 90px;
	padding: 20px 10px;
	border-radius: 50%;
}

/*** Login Styles  ***/

#login button img {
	height: 30px;
	position: absolute;
	left: 10px;
	margin: 5px;
}

/*******     Backgrounds Styles     *******/

.bg-lightblue {
	background-color: rgb(0, 189, 189) !important;
	color: #fff !important;
	border: 0px !important;
}

.bg-lightgrey {
	background-color: rgb(220, 220, 220) !important;
	color: #444 !important;
	border: 0px !important;
}

.bg-black {
	background-color: rgb(30, 30, 30) !important;
	color: #fff !important;
	border: 0px !important;
}

.bg-black > *, .bg-lightblue > * {
	color: #fff !important;
}

.bg-lightgrey > * {
	color: #444 !important;
}

.bg-facebook {
    background: #5678bc; /* Old browsers */
    background: -moz-linear-gradient(top,  #5678bc 0%, #314a7b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5678bc), color-stop(100%,#314a7b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5678bc 0%,#314a7b 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5678bc 0%,#314a7b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5678bc', endColorstr='#314a7b',GradientType=0 ); /* IE6-9 */

    color: #fff;
    border: 1px solid #aaa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/*******     General Styles     *******/
.circle {
	border-radius: 50%;
}

.centered {
	text-align: center;
}

.square {
	border-radius: 0px !important;
}

.relative {
	position: relative !important;
}

.2x {
	font-size: 200% !important;
}

.small, i.small {
	font-size: 85% !important;
}

.inline {
	display: inline-block !important;
}

.padding {
	padding: .5em;
}

i.edit {
	position: relative;
	padding: 0 .5em;
	font-size: 15px !important;
	color: orange !important;
}

.greyBackground {
	background-color: #f5f5f5;
}

.bold {
	font-weight: bold !important;
}


/***  Animations ***/

.slow {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.fa.spin {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }